.home-wrapper {
  width: 100%;
  height: 100%;
  background-color: #faf9f8;
  padding-top: 16px;
  .home-content {
    margin: 0px 24px;
    .card {
      box-shadow: 0px 0.3px 0.9px rgba(0,0,0,0.1), 0px 1.6px 3.6px rgba(0,0,0,0.1);
      border: none;
      .icon {
        border: 1px solid #2564cf;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .statistic {
      display: flex;
      flex-direction: column;
    }
    #chart {
      margin-top: 16px;
      background-color: #fff;
      box-shadow: 0px 0.3px 0.9px rgba(0,0,0,0.1), 0px 1.6px 3.6px rgba(0,0,0,0.1);
      border-radius: 4px;
    }
    .calendar {
      background-color: #fff;
      border-radius: 4px;
      padding: 5px;
      box-shadow: 0px 0.3px 0.9px rgba(0,0,0,0.1), 0px 1.6px 3.6px rgba(0,0,0,0.1);
    }
    .upcoming {
      margin-top: 15px;
      .upcoming-label {
        font-size: 1.2rem;
      }
      .todoItem {
        margin-top: 8px;
        border-radius: 4px;
        padding: 0px 16px;
        min-height: 52px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        word-wrap: break-word;
        word-break: break-word;
        flex-wrap: wrap;
        box-shadow: 0px 0.3px 0.9px rgba(0,0,0,0.1), 0px 1.6px 3.6px rgba(0,0,0,0.1);
        background-color: #fff;
        .mark-done {
            position: relative;
            height: 18px;
            margin-left: 6px;
            label {
                background-color: #fff;
                border: 1px solid #2564cf;
                border-radius: 50%;
                cursor: pointer;
                height: 20px;
                left: 0;
                position: absolute;
                top: 0;
                width: 20px;
                &::after {
                    border: 2px solid #fff;
                    border-top: none;
                    border-right: none;
                    content: "";
                    height: 6px;
                    left: 3px;
                    opacity: 0;
                    position: absolute;
                    top: 4px;
                    transform: rotate(-45deg);
                    width: 12px;
                }
            }
            .checkbox-round:checked + label {
                background-color: #2564cf;
                border-color: #2564cf;
            }
            .checkbox-round:checked + label::after {
                opacity: 1;
            }
        }
        .mark-important {
            input {
                border: 0;
                width: 1px;
                height: 1px;
                overflow: hidden;
                position: absolute;
                clip: rect(1px 1px 1px 1px);
                clip: rect(1px, 1px, 1px, 1px);
                opacity: 0;
            }
            label {
                position: relative;
                float: right;
                color: #fffefe;
            }
            label:before {
                margin: 5px;
                content: "\f005";
                font-family: FontAwesome;
                display: inline-block;
                font-size: 1.3em;
                color: #ccc;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }
            input:checked ~ label:before {
                color: #2564cf;
            }
        }
      }
    }
  }
  .home-title {
    font-size: 1.4rem;
  }
}
:root {
  --fc-button-bg-color: #2564cf;
  --fc-button-border-color: #ccc;
  --fc-button-hover-bg-color: #1e52aa;
  --fc-button-hover-border-color: #1e52aa;
  --fc-button-active-bg-color: #1e52aa;
  --fc-button-active-border-color:#1e52aa;
}