// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

//fontawesome
@import "@fortawesome/fontawesome-free/css/all.css";
@import "sidebar";

html {
    height: 100vh;
    overflow: hidden;
}
body {
    height: 100%;
}
.header {
    background-color: #2564cf;
    width: 100%;
    height: 48px;
    color: white;
}
.searchToolBar{
    width: 50%;
    height: 30px;
}
ul {
    list-style-type: none;
}
#app {
    display: flex;
    flex: 1 1 0px;
    will-change: width;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    height: 100%;
}
.leftColumn-entered {
    width: 200px;
}
@media all and (min-width: 1010px){
    .leftColumn-entered {
        width: 290px;
    } 
}
